packages: [
  "atom-beautify"
  "blame"
  "block-travel"
  "center-line"
  "color-picker"
  "emmet"
  "ex-mode"
  "expand-region"
  "linter"
  "linter-jshint"
  "linter-rubocop"
  "package-sync"
  "rails-latest-migration"
  "rails-snippets"
  "rails-transporter"
  "react"
  "redux-snippets"
  "rspec-snippets"
  "seti-ui"
  "sort-lines"
  "valign"
  "vim-mode"
  "vim-mode-zz"
]
